version: "2"
services:
  cecos-caas-demo-proxy:
    image: openfans/cecos-caas-demo-proxy:latest
    container_name: "cecos-caas-demo-proxy"
    ports:
      - "80:80"
    networks:
      - local

  cecos-caas-demo:
    image: openfans/cecos-caas-demo:2.0.2.1-aolings
    container_name: "cecos-caas-demo"
    hostname: cecos-caas-demo
    command: --no-analytics -l service=openfans.cecos.caas.mgmt
    networks:
      - local
    volumes:
      - /tmp/manager_run/docker.sock:/var/run/docker.sock

  manager1:
    image: docker:dind
    privileged: true
    hostname: manager1
    volumes:
      - /tmp/manager_run:/var/run
    networks:
      - swarm
  manager2:
    image: docker:dind
    privileged: true
    hostname: manager2
    networks:
      - swarm
  worker1:
    image: docker:dind
    privileged: true
    hostname: worker1
    networks:
      - swarm
  worker2:
    image: docker:dind
    privileged: true
    hostname: worker2
    networks:
      - swarm

networks:
  local:
    driver: bridge
  swarm:
    driver: bridge
